@{
    ViewBag.Title = "INFORMACIÓN";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Informacion Adicional del programa de Becas.</p>

    <h4> <strong>Descripcion Del Programa</strong></h4>
    <p>
        Este programa tiene como objetivo  brindar apoyo academico y economico a estudiantes
        destacados que deseen continuar con su preparacion superior, nuestra institucion busca ofrecer las mismas
        oportunidades de igualdad a jovenes que buscan el desarrollo profesional.
    </p>
    <p> <strong>Beneficios</strong></p>
    <p>▪️Cobertura paracial o total de la matricula.<p>
    <p> ▪️Apoyo para materiales Educativos.</p>
    <p> ▪️Asesoria y acompañamiento academico durante el periodo de estudios.</p>
    <p>▪️Oportunidades de participacion en Proyectos institucionales.</p>
    <p> <strong>Requisitos</strong></p>
    <p>▪️Ser estudiante regular o aspirante admitido en la Institucion .<p>
    <p>▪️Tener un promedio minimo de 8.50 / 10.</p>
    <p>▪️Presentar copia de cedula, certificado de notas y carta de motivacion.</p>
    <p>▪️Completar el formulario de postulacion.</p>
    <p> <strong>Proceso de Postulacion</strong></p>
    <p>▪️Completar el formulario en linea.<p>
    <p>▪️Adjuntar la documentacion requerida.</p>
    <p>▪️Esperar la revision y evaluacion del comite de becas.</p>
    <p>▪️Respuesta via correo electronico.</p>
    <p> <strong>Criterio de Seleccion</strong></p>
    <p>▪️Merito Academico.<p>
    <p>▪️Situacion Socioeconomica.</p>
    <p>▪️Compromiso.</p>

</main>