@{
    ViewBag.Title = "CONTACTO";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Av.Gran Colombia y Jose Marti<br />
        Quito,Ecuador<br />
        <abbr title="Phone">
            Celular:
        </abbr>
        (+593)987245874
        (02)4157771
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:Support@example.com">becas@institucion.ec</a><br />
        <strong>Informacion:</strong> <a href="mailto:Marketing@example.com">informacion@institucion.com</a>
    </address>
</main>